.faixa2 {
    width: 1540px;
    height: 100px;
    background-color: #0E371C;
    display: flex;
    margin: auto;
    justify-content: center;
    align-content: center;
    flex-wrap: nowrap;
    
  }

  .h2{
    color: rgb(255, 255, 255);
    font-family: Fontdiner Swanky;
    font-size: 60px;
    font-style: normal;
    font-weight: 40px;
    line-height: 0px;
    height: 50px;
  }
  .img {
    width: 212px;
    min-width: 212px;
    max-width: 212px;
}
.nome_produto{
  font-style: normal;

}
.img{
  width: 320px;
  min-width: 320px;
  max-width: 320px;
  height: 390px;
  padding: 8px;
  
}
.btnProduto{
  /* border-radius: 15px;
  border: 1px solid #000; */
  width: 250px;
  height: 45px;
  flex-shrink: 0;
  border-radius: 15px;
  color: #ffffff;
  font-family: Fontdiner Swanky;
  font-size: 35px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background: #216A47;
  

}
.descricao{
  font-size: 25px;
}
.nome_produto{
  font-size: 30px;
}
.preco{
  font-size: 25px;
}
