main{
    display: flex;
    justify-content: center;
    background-color: #102820;
}

.section{
    display: flex;
    background-color: rgb(255, 255, 255);
    margin-top: 2%;
    margin-bottom: 2%;
    justify-content: center;
    width: fit-content;
    border-radius: 10px;
    justify-content: center;
    
}

.Pedido {
    background-color: rgb(55, 121, 71);
    padding: 40px;
    margin: 15px;
    border: 8px;
    justify-content: center;
}


.Pedido > input{
    border-radius: 6px;
    border: none;
    padding: 8px;
    background-color: #daebe7;
    
}

.Pedido > button{
    margin-top: 100px;
    padding: 50px;
    padding-left: 30px;
    border: 10px;
}

.Pedido > p {
    color: rgb(0, 0, 0);
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif
}

.Pedido > h1{
    color:rgb(255, 255, 255);
    font-size: 40px;
    justify-content: center;
    white-space: nowrap;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-style: oblique;
}

.Pedido > h2{
    color:rgb(0, 0, 0);
    font-size: 15px;
    white-space: inherit;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-style: initial;
}

.Pedido > button{
    margin-top: 20px;
    padding: 5%;
    padding-left: 5px;
    border: black;
    background-color: rgb(255, 255, 255);
    
}

.BotaoSubmeter > button{
    margin-top: ce;
    padding: 5px;
    padding-left: 5px;
    background-color: rgb(255, 255, 255);
}