main{
    display: flex;
    justify-content: center;
 
   background-image: linear-gradient(to bottom, rgb(29, 95, 49), rgb(30, 117, 42), rgb(154, 255, 176));
}
.section{
    display: flex;
    background-color: rgb(136, 197, 119);
    margin-top: 2%;
    margin-bottom: 2%;
    justify-content: center;
    width: fit-content;
    border-radius: 8px;
    justify-content: center;
    
}

/* //CADASTRO - DADOS */
.Cadastro{
    background-color: rgb(55, 121, 71);
    padding: 40px;
    margin: 15px;
    border-radius: 8px;
}


.Cadastro > input{
    border-radius: 6px;
    border: none;
    padding: 8px;
    
}

.Cadastro > button{
    margin-top: 100px;
    padding: 50px;
    padding-left: 30px;
    border: 10px;
}

.Cadastro > p {
    color: rgb(0, 0, 0);
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif
}

.Cadastro > h1{
    color:rgb(255, 255, 255);
    font-size: 30px;
    white-space: nowrap;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-style: oblique;
}

.Cadastro > h2{
    color:rgb(0, 0, 0);
    font-size: 15px;
    white-space: inherit;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-style: initial;
}

.Cadastro > button{
    margin-top: 20px;
    padding: 5%;
    padding-left: 5px;
    border: black;
    background-color: rgb(255, 255, 255);
    
}